html {
    --backgroundBlack: #1e1e1e;
    --backgroundBlackSecond: #252526;
    --backgroundYellow: #f7e94b;
    --fontYellow: #f4c700;

    background-color: var(--backgroundBlack);

    overflow: hidden;
}

.StartPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.MainContent {
    background-color: var(--backgroundBlackSecond);
    width: 30vw;
    height: 60vh;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    -webkit-box-shadow: 0px 0px 68px 7px rgba(244, 199, 0, 0.9);
    -moz-box-shadow: 0px 0px 68px 7px rgba(244, 199, 0, 0.9);
    box-shadow: 0px 0px 68px 7px rgba(244, 199, 0, 0.9);
}