html {
    --backgroundBlack: #1e1e1e;
    --backgroundBlackSecond: #252526;
    --colortwo: #333333;
    --backgroundYellow: #f7e94b;
    --fontYellow: #f4c700;

    background-color: var(--backgroundBlack);
    overflow: hidden;

}

.StartPage {
    width: 100vw;
    height: 100vh;
}

.HeadLine {
    height: 6vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 55px;
}

.HeadLine span {
    color: var(--fontYellow);
}

.WebstackSchrift {
    margin-left: 20px;
    margin-top: 20px;
}

.MainPage {
    height: 94vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.MainContent {
    background-color: var(--backgroundBlackSecond);
    width: 28vw;
    height: 60vh;
    min-width: 350px;
    min-height: 530px;
    border-radius: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    -webkit-box-shadow: 0px 0px 17px 6px rgba(247, 233, 75, 0.71);
    -moz-box-shadow: 0px 0px 17px 6px rgba(247, 233, 75, 0.71);
    box-shadow: 0px 0px 17px 6px rgba(247, 233, 75, 0.71);
}

.MainContent select {
    color: white;
    border-style: none;
    text-align: center;
    font-style: arial;
    font-weight: bold;
    font-size: 120%;
    height: 3.5vh;
    background-color: var(--colortwo);
    margin-top: 1%;
}

.MainContent select:focus {
    border-style: none;
    box-shadow: none;
}

.MainContent input {
    color: white;
    border-style: none;
    text-align: center;
    font-style: arial;
    font-size: 120%;
    height: 3.5vh;
    margin-left: 1%;
    margin-top: 1%;
    background-color: var(--colortwo);
}

.MainContent input:focus {
    border-style: none;
    box-shadow: none;
}

.CalcTitle {
    font-size: 150%;
}

.CalcDiv {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.VarEingabe {
    width: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.VarResultat {
    width: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    color: white;
    font-style: arial;
    height: 3.5vh;
}

@media only screen and (max-width: 390px) {
    .HeadLine {
        justify-content: center;
        margin-left: 0px;
    }

    .MainContent input {
        margin-top: 15%;
    }

    .VarResultat {
        margin-top: 50%;
    }
}
